.top{height:45px;}

.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}



.btn-sucess{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 50px;}


.cor{
color:rgb(0, 151, 156);}

.dropdown-menu{
background-color:#222222;}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

.bg{
background-color:#101010;}

.btn-problemas{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 130px;}

.cor{
color:rgb(0, 151, 156);}

.btn-sucess{
background-color:rgb(0, 151, 156);
}


.form-group{
margin-left: 25px;
margin-right: 40px;}

.col-sm-10{
margin-left: 40px;
margin-right: 60px;} 
    
.btn-cadastro{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 43%;}

.option{
color: black;}

.perfil {  
margin-right:10px;
}

.jumbotron {
margin-top:10%;
background-color:#101010;
color:rgb(0, 151, 156);}

.cadastro{
text-align:center;
color:rgb(0, 151, 156);}
