.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}
.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

#corfooter{
    background-color:#00979c;
}

.copyright{
    color:white;
}