.top{
height:5%;}

.navbar-brand{ 
margin-top:-8px;}

.perfil{  
margin-right:10px;}

.btn-sucess{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 50px;}


.cor{
color:rgb(0, 151, 156);}

.form-group{
margin-left: 25px;
margin-right: 40px;}

.col-sm-10{
margin-left: 40px;
margin-right: 60px;} 


.col-md-4 .bg{
background-color:#F0FFFF;}

.banner-proj{
margin-right:0px;
margin-left:0px;}


.borda {
    text-shadow: 2px 2px rgb(0, 151, 156);
}
.btn-sucess{
	background-color:rgb(0, 151, 156);
}

.imagem{
	padding-right:0px !important;
	padding-left:0px !important;
}
