.jumbotron{
    background-color: #f5f5f5;
        width: 800px;
    margin-left: 150px;
    
}

.cadastro{
    text-align: center;
}

.borda{
   border-bottom-style: solid;
   border-bottom-color: #00979c;
}
.btn-conectar{
    background-color: green;
    color:white;
}
.col-md-4{
    margin-top:15px;
}
