/*Cor do Menu*/
.col-md-12 .navbar-default{
background-color: #00979c;
border-color: rgb(0, 151, 156);
}

/*Cor letra menu*/
.navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 30px ;
    
}

/*Cor background letras*/
.navbar-default .navbar-nav>li:hover{
    color: #F0FFFF;
    font-size: 18px ;
    
}

