

.btn-group-justified{
margin-left:0px;}



.bg{
background-color:#101010;}

.jumbotron {
background-color:#f5f5f5;
color:rgb(0, 151, 156);}

.passo{
margin-left: 5%;}

.jumboblue{
background-color:rgb(0, 151, 156);
color:#101010;}

.margintop{
margin-top: -3%;}


* {
    box-sizing: border-box;
}

#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}

#step{
    margin-left: 90px;
}
#progress li {
    float: left;
    padding: 10px 30px 175px 40px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 16%;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-width: 100px;
    border-top-width: 100px;
    
}
#progress li:after {
    content: '';
    border-left: 16px solid #333;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
    border-bottom-width: 100px;
    border-top-width:100px;
    border-left-width: 100px;
}

#progress li.active {
    background: #555;
}

#progress li.active:after {
    border-left-color: #555;
}