.top{
height:5%;}

.brand{
height:46px;
margin-bottom:0px;}

.box-carousel{
width:100%;
padding-right:0;
padding-left:0;
/*margin-top:0;*/
margin-top:-20px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.row .slide{
margin-top:30px;
margin-left:0px;
margin-right:0px;}

.marca{
padding-left:10px;}

.navbar-brand{ 
margin-top:-8px;}

.perfil{  
margin-right:10px;}

.sobre{
margin-top:10px;
background-color:#101010;
color:rgb(152, 192, 193);}

.btn-sucess{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 50px;}

.jumbotron{
background-color:#101010;
color:rgb(0, 151, 156);
margin-right:0px;
margin-left:0px;}


.btn-noticia{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 45%;}

.cor{
color:rgb(0, 151, 156);}

.carousel-caption{
color:black;
}

.dropdown-menu{
background-color:#222222;}

.form-group{
margin-left: 25px;
margin-right: 40px;}

.col-sm-10{
margin-left: 40px;
margin-right: 60px;} 

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

.bg{
background-color:#101010;}

.label{
	max-width: 30%;
}

.btn-responde{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 50%;}

.margintop{
margin-top:20%;
}
