h1{
    margin-top: 100px;
    text-align: center;
    color: #1e90ff;
}

.btn-mais{
border-radius:50%;
text-align:center;
height:80px;
width:80px;
font-size:40px;
position:absolute;
left:48%;
background-color:green;
color:white;}

.btn-excluir{
    background-color:#c11a1a;
    color:white;
}

.btn-entrar{
    background-color: green;
    color:white;
}

.thumbnail{
    border-color: #555;
}